{%extends 'step/index2.html'%}

{%block body%}


<div class="card bg-light mb-3">
    <div class="card-header">Amount to be paid</div>
    <div class="card-body">
       <h1>{{total}}KSH</h1>
    </div>
</div>




<div class="card bg-light mb-3">
    <div class="card-header">ADD TRANSACATION</div>
    <div class="card-body">

        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#push">Mpesa </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cash">Cash </button>
    </div>
</div>










<!--Mpesa STK PUSH-->
<div class="modal fade" id="push" tabindex="-1"  aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Stk push</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                   {%csrf_token%}
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
                </div>
                <input type="hidden" class="form-control" id="id" name="mpesa" value="mpesa">
                   
                    <button type="submit" class="btn btn-primary">stk push</button>
                </form>
            </div>
        </div>
    </div>
  </div>




<!-- CASH MODAL -->
<div class="modal fade" id="cash" tabindex="-1"  aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">ADD cash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action=>
                   {%csrf_token%}
        
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount paid" required>
                </div>
                 
               
                   
            

                
                   
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>








{%endblock%}