{%extends 'step/index2.html'%}
{%block body%}

<div class="card border-primary mb-3">
    <div class="card-header text-center">Products</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Supplier</th>
            <th scope="col">Buying price</th>
            <th scope="col">Selling price</th>
            <th scope="col">alert quantity</th>
            <th scope="col">stock</th>
            <th scope="col">Picture</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr class="table-primary">
            <td>
              <a href="#"><button type="button" class="btn btn-dark me-1 btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></button></a>
              
                  </div>
                </div>
              </div>
            </td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.supplier }}</td>
            <td>{{ product.Buying_price }}</td>
            <td>{{ product.selling_price }}</td>
            <td>{{ product.alert_quantity }}</td>
            <td>{{ product.stock }}</td>
          </tr>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



{%endblock%}