{%extends 'step/index2.html'%}

{%block body%}


<div class="card border-primary mb-3">
    <div class="card-header text-center">Suppliers</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Supplier</th>
            <th scope="col">product supplied</th>
            <th scope="col">buying price</th>
            <th scope="col">date</th>
            <th scope="col">status</th>
            <th scope="col">quantity</th>

          </tr>
        </thead>
        <tbody>
          {% for purchase in purchases %}
          <tr class="table-primary">
            <td>
              <a href="#"><button type="button" class="btn btn-dark me-1 btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></button></a>
              <form action="{% url 'delete' supplier.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash-can fa-lg"></i></button>
              </form>
              
                  </div>
                </div>
              </div>
            </td>
            <td>{{ purchase.supplier }}</td>
            <td>{{ purchase.ptoduct }}</td>
            <td>{{ supplier.Buying_price }}</td>
            <td>{{ supplier.date }}</td>
            <td>{{ supplier.status }}</td>
            <td>{{ supplier.quantity}}</td>


        </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



{%endblock%}