{% extends "step/index.html" %}
{% load static %}

{% block body %}
<div class="card border-primary mb-3">
  <div class="card-header text-center">Suppliers</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Business</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">Location</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in suppliers %}
        <tr class="table-primary">
          <td>
            <a href="#"><button type="button" class="btn btn-dark me-1 btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></button></a>
            <form action="{% url 'delete' supplier.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash-can fa-lg"></i></button>
            </form>
            
                </div>
              </div>
            </div>
          </td>
          <td>{{ supplier.business }}</td>
          <td>{{ supplier.supplier_name }}</td>
          <td>{{ supplier.location }}</td>
          <td>{{ supplier.phone_number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
