{% extends "step/index2.html" %}
{% load static %}

{% block body %}
<div class="card border-primary mb-3">
  <div class="card-header text-center">Suppliers</div>
  



  <div class="card-body">
    <a href="{%url 'add_supplier'%}" class="btn btn-success mb-3">
      <i class="fa-solid fa-plus"></i> Add
  </a>
    
    
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Business</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">Location</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {% for i in suppliers %}
        <tr class="table-primary">
          <td>
            <a href="#"><button type="button" class="btn btn-dark me-1 btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></button></a>
           
           
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{i.id}}">
              <i class="fa-solid fa-trash-can fa-lg"></i>
            </button>
             
            
              
          </td>
          <td>{{ i.business }}</td>
          <td>{{ i.supplier_name }}</td>
          <td>{{ i.location }}</td>
          <td>{{ i.phone_number }}</td>
        </tr>





        <div class="modal" id="delete{{i.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  supplier: {{ i.supplier_name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this Supplier</p>
              </div>
              <div class="modal-footer">
                <form action="{% url 'delete_customer' 1 i.id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-primary" value="Delete">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>








        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
