{%extends "step/index2.html"%}

{%block body%}


<p>{{response}}</p>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#push">
  <i class="fa-solid fa-trash-can fa-lg"></i>
</button>
        
  

<div class="modal fade" id="push" tabindex="-1"  aria-labelledby="addTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="">Stk push</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form method="POST" action="{%url 'stk_push' %}">
                 {%csrf_token%}
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
              </div>
              <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
              </div>
              
                 
                  <button type="submit" class="btn btn-primary">stk push</button>
              </form>
          </div>
      </div>
  </div>
</div>



{%endblock %}